$main-background-color: #f2f2f2;
$button-1-default-color: #4d96a9;
$button-1-hover-color: #71c0d4;
$button-1-text-color: #8fe3f9;

$button-2-default-color: #855fb1;
$button-2-hover-color: #b18bdd;
$button-2-text-color: #d9b8ff;

$overlay-color: rgba(77, 150, 168, 0.8);

$black-text-color: #28283d;
$blue-text-color: #4d96a9;
$grey-text-color: #87879d;
